$colorWhiteBg: #fff;
$colorGrey: #979797;

.infoBlock {
    width: 80%;
    height: 125px;
    max-width: 400px;
    margin: auto;
    top: 85px;
    background-color: $colorWhiteBg;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.infoBlockCurrent {
    position: relative;
    margin-left: 20px;
    padding-top: 20px;
    font-family: Open Sans, serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5em;
}

.infoBlockCombustion {
    width: 70%;
    margin-left: 20px;
    margin-top: 10px;
    color: $colorGrey;
    font-family: Open Sans, serif;
    font-size: 16px;
    line-height: 1.5em;
}

.infoBlockContainer {
    position: absolute;
    width: 100%;
    top: 85px;
}

.imgFire {
    margin-left: 10px;
    margin-right: 10px;
}

.imgArrow {
    position: absolute;
    top: 43px;
    right: 19px;
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in .35s;

  &:hover {
      transform: scale(1.2);
  }
}
