$backgroundBageStartColor: #d2333e;
$backgroundBageEndColor: #f54b55;
$colorWhite: #ffffff;

.bage {
    display: inline-block;
    background: linear-gradient(180deg, $backgroundBageStartColor 0%, $backgroundBageEndColor 100%);
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 7%;
    margin-top: 40px;

    &::after {
         content: attr(data-content);
         margin: 9px;
         font-size: 21px;
         font-weight: bold;
         color: $colorWhite;
         font-style: italic;
     }
}


